.nav-link.disabled, .nav-link:disabled {
  color: #e2e3e5;
  pointer-events: none;
  cursor: default;
}

a#nav_dropdown.liz-colors.dropdown-toggle {
    background-color: #006600;
    color: #FEF9E7;
    text-decoration: none;
}

li.nav-item {
    padding-right: 20px;
}

a.navlink {
    text-decoration: none;
}

a.dropdown-toggle {
    text-decoration: none;
}

.navbar{
    background-color:hsl(120, 100%, 20%);
    color: #FEF9E7;
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    --bs-nav-link-hover-color: hsl(120, 100%, 40%);
    --bs-navbar-active-color:  hsl(120, 100%, 40%);
    --bs-navbar-brand-color: #0dcaf0;
    --bs-navbar-brand-hover-color: #0dcaf0;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    text-decoration: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.container-fluid .navbar-liz{
    display: inline-flex;
 }

