/* Define standard variables and values for website */
/* Use the variables */

body {
    background-color: #FEF9E7;
    color: #006600;
}

body #header {
    padding: 20px;
    color: #FEF9E7;
    background-color: #fef9e7;
    background-image: linear-gradient(to bottom,#006600 0%,#fef9e7 100%);
  }

.header_words {
  display:inline;
}  

#header h1 {
    margin-left: 150px;
    font-weight: 400;
}

#header h3 {
    margin-left: 150px;
    font-weight: 300;
    font-style: italic;
    color: #006600;
}

.figure-caption {
  color: #006600;
}

.nav-link a {
    display: inline;
}

