.modal-content {
    --bs-modal-color: #006600;
    --bs-modal-bg: #f7f3db;
    --bs-modal-border-color: #006600;;
}

body a.modal_popup_link {
    color: #800020;
}

body #answer_modal_element {
    background-color: #FEF9E7;
    color: #006600;
}
