/* Define standard variables and values for website */
/* Use the variables */

body {
    background-color: #FEF9E7;
    color: #006600;
}

body #answer_modal_element {
  background-color: #FEF9E7;
  color: #006600;
}

body #header {
    margin-top: 38px;
    padding: 15px;
    color: #FEF9E7;
    background-color: #fef9e7;
    background-image: linear-gradient(to bottom,#006600 0%,#fef9e7 100%);
  }

body .find_headers {
  margin-top: 15px;
}

.header_words {
  display:inline;
}  

#header h1 {
    margin-left: 150px;
    font-weight: 400;
}

#header h3 {
    margin-left: 150px;
    font-weight: 300;
    font-style: italic;
    color: #006600;
}

.figure-caption {
  color: #006600;
}

ul.dropdown-menu {
  background-color: #FEF9E7;
}

a.dropdown-item {
  color: #006600;
  --bs-dropdown-color: rgb(0, 102, 0);;
  --bs-dropdown-bg: #FEF9E7;
  --bs-dropdown-border-color: #006600;
  --bs-dropdown-link-hover-color: hsl(120, 100%, 40%);
  --bs-dropdown-link-hover-bg: #FEF9E7;
  --bs-dropdown-link-active-color: hsl(120, 100%, 40%);
}

a.btn {
  --bs-btn-color: #FEF9E7;
  --bs-btn-bg: #006600;
  --bs-btn-border-color: #006600;
  --bs-btn-hover-color: hsl(120, 100%, 40%);
  --bs-btn-hover-bg: #006600;
  --bs-btn-hover-border-color: hsl(120, 100%, 40%);
  --bs-btn-focus-shadow-rgb: 225,83,97;
  --bs-btn-active-color: #FEF9E7;
  --bs-btn-active-bg: hsl(120, 100%, 40%);
  --bs-btn-active-border-color: hsl(120, 100%, 40%);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

span.text-toggle {
    color: #102e90;
}

a.link-text {
  color: #102e90 ,var(--bs-link-opacity,1);
  text-decoration: underline;
}

code {
  --bs-code-color: #7D6608;

}
